.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.95);
  overflow-x: hidden;
  transition: 0.5s;
}

#overtext {
  position: relative;
  left: 25%;
  top: 40px;
  font-family: "Open Sans", Times, serif;
  font-size: 15px;
  padding: 40px;
  color: black;
  width: 45%;
  text-align: justify;
  white-space: pre-line;
  margin: 40px auto;
  background-color: rgba(232, 232, 232, 0.85);
  border-radius:0px;
  border-top:2px dashed;
  border-bottom:2px dashed;  
  border-left:2px dashed;
  border-right:2px dashed;
}

#overtitle {
  position: relative;
  left: 25%;
  top: 90px;
  font-family:  'century gothic', arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #43423F;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #818181;
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
  color: black;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
} 
